#!/bin/sh

NAME="{{ project_name }}"
DJANGODIR="{{ install_root }}/{{ project_name }}"
SOCKFILE={{ virtualenv_path }}/run/gunicorn.sock
USER={{ ec2user }}
GROUP={{ ec2user }}
NUM_WORKERS=3

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS=1000

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate

# Set additional environment variables.
. {{ virtualenv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout 30 \
    --user $USER --group $GROUP \
    --log-level debug \
    --bind unix:$SOCKFILE \
    settings.wsgi:application
